body{
  background-color: cadetblue;
  color: cornsilk;
  /* Escolhemos aqui a fonte que sera usada em todos elementos da página, pois todos os elementos são "filhos" da tag body */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* aqui usamos dois seletores com o mesmo código */
h1, p{
  text-align: center;
}

form{
  margin: 0 auto;
  width: 400px;
  height: 350px;
  /* aqui mostramos que também podemos passar o código da cor em hexadecimal */
  background-color: #456f7080;
  /* o "border-radius" serve pra arrendondarmos os cantos do nosso elemento, recebe valores da mesma forma */
  border-radius: 5px;
  padding: 20px;
  padding-right: 0;

}

label{
  font-size: 16px;
}

input{
  border-radius: 5px;
  width: 350px;
  height: 30px;
}

input, label{
  /* aqui temos o uso da propriedade display para mudarmos como o elemento se comporta */
  display: block;
}

fieldset{
  margin-top: 25px;
  margin-bottom: 25px;
  width: 325px;
  height: 80px;
  text-align: left;
}

button{
  margin: 0 auto;
  padding: 0 175px ;
  width: 100px;
  height: 25px;
}

/* Aqui usamos um seletor especial, que aplica o estilo apenas em elementos de um tipo com um certo atributo, nesse caso foi um input */
input[type="radio"]{  
  /* o valor unset restaura o padrão original do elemento */
  width: unset;
  height: unset;
  display: inline;
}
